*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
}
.authenticate{
    display: flex;
    align-items: center;
}